.container{
    flex: 1;
    display: flex;
    text-align: center; 
    color: #d1d3d4;
}

.usuario{
    
    width: 20vw;
    height: 90vh;
    margin: 2%; 
    
}

.reporte{
    width: 45vw;
    margin: 2%;
    border: 2px solid black;
    
}

.leaderboard{
    
    width: 25vw;
    height: 45vh;
    border: 2px solid black;
    
}

.game{
    margin-top: 23%;
    height: 33vh;
    border: 2px solid black;
    
}
.right{
    
    display: block;
    margin: 2%;
}


