.container{
    flex: 1;
    display: flex;
    text-align: center; 
    color: #1a1a2e;
}

.usuario{
    
    width: 20vw;
    height: 90vh;
    margin: 2%; 
    
}

.reporte{
    width: 45vw;
    
}

.leaderboard{
    
    width: 25vw;
    height: 45vh;
    margin: 2%;

    
}

.game{
    margin-top: 23%;
    height: 33vh;
    
    
}
.right{
    
    display: block;
    margin-left: 1.5%;
}


