.container {
  flex: 1;
}

.reporte {
  width: 44.5vw;
  height: 13vh;
  background-color: #1a1a2e;
  
  border: 1px solid black;
  display: flex;
  overflow: hidden;
  color: #dee0e3
  ;
}

.reporte:hover {
  background-color: #eeb111;
  color: #484948;
}


.logo{
  
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.descripcion{
  width: 40%;
  max-width: 40%;
  text-align: center;
  justify-content: center;
  
}

.desc{
  
  white-space: nowrap;
  overflow:hidden;
  
}

.datos{
  margin-left: 3%;
  white-space: nowrap;
  overflow: hidden;
  width: 30%;
  max-width: 30%;
  
}

.flecha{
  width: 12%;
  margin: auto;
  
}

.flecha button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}


