.gameDiv {
    /*background-color: yellowgreen;*/
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.salir{
    display: flex;
    justify-content: end;
    margin: 2%;
}